<div class="container-fluid">
  <div class="list-group">
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Song Queue</h5>
        <small>{{songs.length}} Songs in Queue</small>
      </div>
    </a>
    <a *ngFor="let song of songs" href="#" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{song.name}}</h5>
        <small>
          <span *ngIf="song.id === songs[0].id">Up Next</span>
        </small>
      </div>
    </a>
  </div>
</div>