<div class="modal fade" id="albumCreatorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create New Album</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form #newAlbumForm="ngForm">
      <div class="modal-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col"><h4>Name:</h4></div>
            </div>
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="Name" name="name" [(ngModel)]="album.name" required>
                </div>
            </div>
            <div class="row">
                <div class="col"><h4>Description:</h4></div>
            </div>
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="Description" name="description" [(ngModel)]="album.description">
                </div>
            </div>
            <div class="row">
                <div class="col"><h4>Art Url:</h4></div>
            </div>
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="Art Url" name="artUrl" [(ngModel)]="album.artUrl">
                </div>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="createAlbum()" [disabled]="!newAlbumForm.form.valid" class="btn btn-primary" data-dismiss="modal">Create</button>
      </div>
      </form>
    </div>
  </div>
</div>