.row {
  margin:30px;
}

.card {
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
  border: solid #CCCCCC 1px;
  border-radius: 1px;
}
