<!-- Loading Spinner -->
<div *ngIf="homeLoading" class="center-page">
  <div id="loading-spinner">
    <i class="fa fa-circle-o-notch fa-spin fa-5x fa-fw"></i>
  </div>
</div>

<!-- Main Page -->
<div *ngIf="!homeLoading">
  
  <div class="container">
    <div class="row">

      <!-- Songs -->
      <div class="col-md-6">
        <div *ngFor="let song of songs">
          <song [song]="song"></song>
        </div>
      </div>

      <!-- File Upload -->
      <div *ngIf="user" class="col-md-6">
        <uploader></uploader>
      </div>

    </div>
  </div>
</div>