<div *ngIf="album" class="modal fade" id="albumEditorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editing {{album.name}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
              <div class="col"><h4>Name:</h4></div>
          </div>
          <div class="row">
              <div class="col">
                  <input type="text" class="form-control" placeholder="Name" [(ngModel)]="album.name">
              </div>
          </div>
          <div class="row">
              <div class="col"><h4>Description:</h4></div>
          </div>
          <div class="row">
              <div class="col">
                  <input type="text" class="form-control" placeholder="Description" [(ngModel)]="album.description">
              </div>
          </div>
          <div class="row">
              <div class="col"><h4>Art Url:</h4></div>
          </div>
          <div class="row">
              <div class="col">
                  <input type="text" class="form-control" placeholder="Art Url" [(ngModel)]="album.artUrl">
              </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="updateAlbum()" data-dismiss="modal">Save changes</button>
      </div>
    </div>
  </div>
</div>