.card {
    position:fixed;
    top:115px;
    width:40%;
    z-index:100;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
}

audio {
    border: solid 0.5px;
}