.card {
    position:fixed;
    bottom:0px;
    width:95%;
    z-index:100;
    margin:20px;
    -webkit-box-shadow: 0px 29px 25px -14px rgba(119,119,119,1);
    -moz-box-shadow: 0px 29px 25px -14px rgba(119,119,119,1);
    box-shadow: 0px 29px 25px -14px rgba(119,119,119,1);
}

audio {
    border: solid 0.5px;
}

#min-and-max span {
    cursor: pointer;
}