<div class="card card-block">
    <div class="col-md-6">
        <img *ngIf="song" [src]="getSongArt()" style="margin-right: 20px" height="100" width="75" class="rounded float-left" alt="song art">
        <div *ngIf="song">
            <h3>{{(song.name.length > 20) ? song.name.substring(0, 17) + '...' : song.name}}</h3>
        </div>
    </div>
    <div class="col-md-6"></div>
    <div class="row" style="margin-top:20px; margin-left: 5px;">
        <audio id="my-audio" controls></audio>
    </div>
</div>