.album-box {
    width:100%;
    background-color: #292b2c;
    border: 1px solid rgba(0,0,0,.125);
    text-align: center;
    overflow: auto;
}

.display-3 {
    color: white;
    font-size: 300%;
}

.lead {
    color: white;
}

i {
    cursor: pointer;
}

#selectedAlbumName:hover {
    cursor: pointer;
    color: #dbfce6;
}