<input type="text" class="form-control" style="margin-bottom: 5px;" placeholder="Search For Song" (keyup)="filter(songFilter)" [(ngModel)]="songFilter">
<ul *ngIf="!loading" class="list-group">
  <li *ngFor="let song of songsArr; let i=index" (click)="selectSong(song)" class="list-group-item justify-content-between">
    <span><strong>{{i+1}}. </strong>{{song.name}}</span>
    <span *ngIf="isUserAdmin()" class="badge">
        <div class="row">
            <div class="col" *ngIf="!songFilter">
                <div class="row">
                    <a href="#" (click)="moveUp(song)">
                        <i class="fa fa-arrow-up fa-2x" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="row">
                    <a href="#" (click)="moveDown(song)">
                        <i class="fa fa-arrow-down fa-2x" aria-hidden="true"></i>
                    </a>    
                </div>
            </div>
            <div class="col">
                <a href="#" class="btn btn-outline-info" (click)="editSong(song)" data-toggle="modal" data-target="#songEditorModal">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </a>
            </div>
            <div class="col">
                <a href="#" class="btn btn-outline-danger" (click)="deleteSong(song)">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </span>
  </li>
</ul>
<button *ngIf="isUserAdmin()" type="button" style="margin-top:10px;" (click)="saveSongOrder()" class="btn btn-secondary">Save Song Order</button>
<div *ngIf="isUserAdmin() && orderMessage" style="margin-top:10px;" class="alert alert-success alert-dismissible fade show" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <strong>Song order saved!</strong>
</div>


<div *ngIf="loading" class="card card-block">
    <div class="row">
        <div class="col" style="text-align: center">
            <i class="fa fa-circle-o-notch fa-spin fa-5x fa-fw"></i>
        </div>
    </div>
</div>

<song-editor *ngIf="currentAlbumId" [songToEdit]="songToEdit" [currentAlbumId]="currentAlbumId"></song-editor>