.now-playing {
    width:100%;
    overflow: auto;
    margin-bottom: 50px;
    -webkit-box-shadow: 0px 29px 25px -14px #1e1e1e;
    -moz-box-shadow: 0px 29px 25px -14px #1e1e1e;
    box-shadow: 0px 29px 25px -14px #1e1e1e;
    /*background-color: white;*/
}

.control-row {
    background-color: #424242;
    -webkit-box-shadow: 0px 29px 25px -14px rgba(119,119,119,1);
    -moz-box-shadow: 0px 29px 25px -14px rgba(119,119,119,1);
    box-shadow: 0px 29px 25px -14px rgba(119,119,119,1);
    border-radius:0px 0px 5px 5px;
}

audio {
    border: solid 0.5px;
}

i {
    cursor: pointer;
}

.hidden {
    display: none;
}

i.fa {
    color: white!important;
}

i.fa:hover {
    color: #dddddd!important;
}

.row {
    margin:10px;
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.song-header {
    /*-webkit-box-shadow:0px 0px 10px 0px #1e1e1e ;
    -moz-box-shadow:0px 0px 10px 0px #1e1e1e ;
    box-shadow:0px 0px 10px 0px #1e1e1e ;*/
    -webkit-box-shadow: 0px 29px 25px -14px #1e1e1e;
    -moz-box-shadow: 0px 29px 25px -14px #1e1e1e;
    box-shadow: 0px 29px 25px -14px #1e1e1e;
    border-radius:5px 5px 0px 0px;
    padding: 20px;
    background-color: white;
}

.control-item {
    margin-left: 20px;
}