.card {
    width:100%;
    overflow: auto;
    margin-bottom: 50px;
    -webkit-box-shadow: 0px 29px 25px -14px rgba(119,119,119,1);
    -moz-box-shadow: 0px 29px 25px -14px rgba(119,119,119,1);
    box-shadow: 0px 29px 25px -14px rgba(119,119,119,1);
}

audio {
    border: solid 0.5px;
}

i {
    cursor: pointer;
}

.hidden {
    display: none;
}

i.fa {
    color: #3a3a3a!important;
}

i.fa:hover {
    color: black!important;
}

.row {
    margin:10px;
}

.song-header {
    -webkit-box-shadow:0px 0px 10px 0px #ababab ;
    -moz-box-shadow:0px 0px 10px 0px #ababab ;
    box-shadow:0px 0px 10px 0px #ababab ;
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    padding: 20px;
}