<!--<div class="container-fluid">
    <div class="card card-block">
        <div *ngIf="!loading" class="row">
            <div class="col-2" style="min-width: 75px; text-align: right">
                <img *ngIf="song" [src]="getSongArt()" width="75px" class="rounded" alt="song art">
            </div>
            <div class="col-7" style="width: 100%; overflow: auto">
                <h3 *ngIf="song">{{song.name}}</h3>
                <h3 *ngIf="!song">Select a song to play</h3>
                <audio id="my-audio" [ngClass]="hidden" controls></audio>
                <p *ngIf="song">Played <strong>{{playCount}}</strong> times</p>
            </div>
            <div class="col-2" style="text-align:right">
                <a *ngIf="song" href="#" (click)="playNext(song)">
                    <i class="fa fa-step-forward fa-4x" style="color:#3a3a3a" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <div *ngIf="loading" class="row">
            <div class="col" style="text-align: center">
                <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
            </div>
        </div>
    </div>
</div>-->





<audio id="my-audio"></audio>

<div class="card card-block">
    
    <!-- No Song Playing -->
    <div *ngIf="!song" class="container-fluid">
        <div class="row">
            <div class="col" style="text-align: center">
                <h3>Select a song to play</h3>
            </div>
        </div>
    </div>

    <!-- Now Playing Layout -->
    <div *ngIf="song" class="container-fluid" style="width:100%">
        
        <!-- Art and Title -->
        <div class="row">
            <div style="width:100%; padding-bottom: -10px" class="song-header">
                <div class="row">
                    <div class="col-md-2" style="overflow:hidden">
                        <img [src]="getSongArt()" class="rounded" alt="song art" height="100px">
                    </div>
                    <div class="col-md-10" style="overflow:auto;">
                        <div class="row">
                            <h3>{{song.name}}</h3>
                        </div>
                        <div class="row">
                            <p>Played <strong>{{playCount}}</strong> times</p>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:20px; margin-bottom: -20px;">
                    <seek-bar [(seekVal)]="normalizedTime"></seek-bar>
                </div>
            </div>
        </div>
        
        <!-- Volume and Controls -->
        <div class="row" style="margin-top:20px;">
            
            <div class="col-md-9">
                <a *ngIf="!isPlaying" href="#" (click)="play(); isPlaying=true;" title="Play" style="margin-left: 25px;">
                    <i class="fa fa-play-circle fa-3x" aria-hidden="true"></i>
                </a>
                <a *ngIf="isPlaying" href="#" (click)="pause(); isPlaying=false;" title="Pause" style="margin-left: 25px;">
                    <i class="fa fa-pause fa-3x" aria-hidden="true"></i>
                </a>
                <a href="#" (click)="playNext()" title="Next Song" style="margin-left: 25px;">
                    <i class="fa fa-step-forward fa-3x" aria-hidden="true"></i>
                </a>
                <a href="{{song.url}}" title="Download" style="margin-left: 25px;">
                    <i class="fa fa-download fa-3x" aria-hidden="true"></i>
                </a>
                <a *ngIf="this.audio.volume > 0" title="Mute" href="#" (click)="updateVolume(0); volume = 0;" style="margin-left: 25px;">
                    <i class="fa fa-volume-up fa-3x" aria-hidden="true"></i>
                </a>
                <a *ngIf="this.audio.volume === 0" title="Unmute" href="#" (click)="updateVolume(1); volume = 100;" style="margin-left: 25px; margin-right: 24px;">
                    <i class="fa fa-volume-off fa-3x" aria-hidden="true"></i>
                </a>
                <input style="width: 100px; padding-top:10px; padding-bottom:10px" type="range" #ref min="0" max="100" [(ngModel)]="volume" (change)="updateVolume(ref.value / 100)">
            </div>
        </div>

        

    </div>
</div>