<audio id="my-audio"></audio>

<div style="margin-bottom:30px;">
    <div class="container-fluid" style="width:100%">        
        
        
        <div  class="row">
            <div style="width:100%; padding-bottom: -10px" class="song-header">

                <!-- Art and Title -->
                <div *ngIf="song" class="row">
                    <div class="col-md-4" style="overflow:hidden">
                        <img [src]="getSongArt()" class="rounded" alt="song art" height="100px">
                    </div>
                    <div class="col-md-8" style="overflow:auto;">
                        <div class="row">
                            <h3>{{song.name}}</h3>
                        </div>
                        <div class="row">
                            <p>Played <strong>{{playCount}}</strong> times</p>
                        </div>
                    </div>
                </div>
                <div *ngIf="song" class="row" style="margin-top:20px; margin-bottom: -20px; overflow:auto">
                    <seek-bar [(seekVal)]="normalizedTime"></seek-bar>
                </div>

                <!-- No Song Selected -->
                <div *ngIf="!song" class="row">
                    <div class="col" style="text-align: left">
                        <h3>Select a song to play</h3>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Volume and Controls -->
        <div class="row control-row" [ngClass]="maxClass">
            <div class="col">
                <div *ngIf="maxClass === 'maximized'" style="margin-bottom:10px; margin-top: 25px; min-height:30px">
                    <a *ngIf="song && !isPlaying" (click)="play()" title="Play" class="control-item">
                        <i class="fa fa-play-circle fa-3x" aria-hidden="true"></i>
                    </a>
                    <a *ngIf="song && isPlaying" (click)="pause()" title="Pause" class="control-item">
                        <i class="fa fa-pause fa-3x" aria-hidden="true"></i>
                    </a>
                    <a *ngIf="song" (click)="seek(-30)" title="Rewind" class="control-item">
                        <i class="fa fa-backward fa-3x" aria-hidden="true"></i>
                    </a>
                    <a *ngIf="song" (click)="seek(30)" title="Fast Forward" class="control-item">
                        <i class="fa fa-forward fa-3x" aria-hidden="true"></i>
                    </a>
                    <a *ngIf="song" (click)="playNext()" title="Next Song" class="control-item">
                        <i class="fa fa-step-forward fa-3x" aria-hidden="true"></i>
                    </a>
                    <a *ngIf="song" href="{{song.url}}" title="Download" class="control-item">
                        <i class="fa fa-download fa-3x" aria-hidden="true"></i>
                    </a>
                    <a *ngIf="!shuffleEnabled" (click)="enableShuffle()" title="Enable Shuffle Play" class="control-item">
                        <i class="fa fa-random fa-3x" aria-hidden="true"></i>
                    </a>
                    <a *ngIf="shuffleEnabled" (click)="disableShuffle()" title="Disable Shuffle Play" class="control-item">
                        <i class="fa fa-random fa-3x" style="color: greenyellow!important" aria-hidden="true"></i>
                    </a>
                    <div>
                        <a *ngIf="song && this.audio.volume > 0" title="Mute" (click)="updateVolume(0); volume = 0;" class="control-item">
                            <i class="fa fa-volume-up fa-3x" aria-hidden="true"></i>
                        </a>
                        <a *ngIf="song && this.audio.volume === 0" title="Unmute" (click)="updateVolume(1); volume = 100;" class="control-item">
                            <i class="fa fa-volume-up fa-3x" aria-hidden="true"></i>
                        </a>
                        <input *ngIf="song" type="range" #ref min="0" max="100" [(ngModel)]="volume" (change)="updateVolume(ref.value / 100)" style="width: 80px; padding-top:10px; padding-bottom:10px">
                    </div>
                </div>
            </div>
            <div *ngIf="song" style="margin-right:10px; margin-top:10px">
                <a *ngIf="maxClass === 'maximized'" (click)="maxClass = 'minimized'">
                    <i class="fa fa-chevron-up" aria-hidden="true"></i>
                </a>
                <a *ngIf="maxClass === 'minimized'" (click)="maxClass = 'maximized'">
                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                </a>
            </div>
        </div>

    </div>
</div>