<div id="load-song-input">
    <input type="file" (change)="selectSongToUpload($event)" placeholder="Upload song" accept=".wav">
    <button id="openUploaderModalButton" class="btn btn-secondary" [hidden]="!songFile" data-toggle="modal" data-target="#uploaderModal">Open Upload Modal</button>
</div>

<!-- Uploader Modal -->
<div *ngIf="newSong.name" class="modal fade" id="uploaderModal" tabindex="-1" role="dialog" aria-labelledby="uploaderModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="uploaderModalLabel">Upload Song</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div *ngIf="!loading" class="container-fluid">
            <div class="row">
                <div class="col"><h4>Name</h4></div>
            </div>
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="Song Name" [(ngModel)]="newSong.name">
                </div>
            </div>
            <div class="row">
                <div class="col"><h4>Filename</h4></div>
            </div>
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="Song Filename (e.g. poop.wav)" [(ngModel)]="newSong.filename">
                </div>
            </div>
            <div class="row">
              <div class="col">
                <h4>Album</h4>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{selectedAlbum.name}}
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <button *ngFor="let album of albums" (click)="selectAlbum(album)" class="dropdown-item" type="button">{{album.name}}</button>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div *ngIf="loading" class="container-fluid">
          <div class="row">
            <div class="col">
              <loading-bar></loading-bar>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" [disabled]="loading">Close</button>
        <button type="button" class="btn btn-primary" (click)="uploadNewSong()" [disabled]="loading">Upload</button>
      </div>
    </div>
  </div>
</div>