<div id="load-song-input">
    <input type="file" (change)="selectSongToUpload($event)" placeholder="Upload song" accept=".wav">
    <button id="openUploaderModalButton" class="btn btn-secondary" [hidden]="!songFile" data-toggle="modal" data-target="#uploaderModal">Open Upload Modal</button>
</div>

<!-- Uploader Modal -->
<div *ngIf="newSong.name" class="modal fade" id="uploaderModal" tabindex="-1" role="dialog" aria-labelledby="uploaderModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="uploaderModalLabel">Upload Song</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3"><h4>Name:</h4></div>
                <div class="col-md-9">
                    <input type="text" class="form-control" placeholder="Song Name" [(ngModel)]="newSong.name">
                </div>
            </div>
            <div class="row">
                <div class="col-md-3"><h4>Filename:</h4></div>
                <div class="col-md-9">
                    <input type="text" class="form-control" placeholder="Song Filename (e.g. poop.wav)" [(ngModel)]="newSong.filename">
                </div>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="uploadNewSong()" data-dismiss="modal">Upload</button>
      </div>
    </div>
  </div>
</div>